{{ define "Edit" }}
  {{ template "Header" }}
    {{ template "Menu" }} 
   <h2>Edit Name and Description</h2>  
    <form method="POST" action="update">
      <input type="hidden" name="uid" value="{{ .ID }}" />
      <label> Name </label><input type="text" name="name" value="{{ .Name }}"  /><br />
      <label> City </label><input type="text" name="description" value="{{ .Description }}"  /><br />
      <input type="submit" value="Save post" />
    </form><br />    
  {{ template "Footer" }}
{{ end }}