{{ define "Header" }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Bear-Go starter framework</title>
        <meta charset="UTF-8" />

	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <h1 style="color:red">Bear-Go Starter</h1>   
        <h1 class="mb-5 text-success">cooler</h1>
{{ end }}