{{ define "Show" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <div class="container">
    <div class="row">
    <div class="card-body p-3 shadow">
    {{/* <h2> ID {{ .ID }} </h2> */}}
      <h2>{{ .Name }}</h2>
      <p>{{ .Description }}</p>
      <br/>
      Posted {{.CreatedAt}}
       <hr>
       <div class="d-flex">
       <a href="/edit?id={{ .ID }}" class="btn btn-primary">Edit</a>
       <a href="/delete?id={{ .ID }}" class="ml-2 btn btn-danger">Delete</a>
      </div>
      </div>
      </div>
      </div>
  {{ template "Footer" }}
{{ end }}
