{{ define "Show" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <h2> ID {{ .ID }} </h2>
      <p>Name: {{ .Name }}</p>
      <p>City:  {{ .Description }}</p><br /> <a href="/edit?id={{ .ID }}">Edit</a></p>
  {{ template "Footer" }}
{{ end }}